<% if current_user %>
  <h2>Latest Apps</h2>
  <table style="width: 100%">
  <tbody>
      <% @apps.each do |app| %>
        <tr>
          <td><%= link_to app.name, app.version %></td>
                 
        </tr>
      <% end %>
    </tbody>
  </table>
 
 <%= paginate @apps %>

<% else %>
  <div class="panel">
  
  <h1> Welcome To Plackal Techno Systems Private Limited</h1>
    <h2>Share your Apps!</h2>
    <%= link_to "Get started today", new_user_registration_path, :class => "button button-large" %>
  </div>
  
   
    <% end %>